
@{
    ViewBag.Title = "AddDesignation";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}


<script src="~/jquery/Designation.js"></script>
<script src="~/asset/Common.js"></script>



<br />
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card" style="height:160%; ">
            <div class="header">
                <h5>AddDesignation</h5>
            </div>
            <div class="body">
                <form id="basic-form" method="post" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Designation</label>
                                <input type="text" name="Name" id="D_Name" class="form-control" required>
                            </div>
                            






                        </div>

                    </div>

                    <button type="button" class="btn  btn-primary btn-block col-md-6" onclick="AddDesignation()">Save</button>
                </form>
            </div>
        </div>
    </div>

</div>


