
@{
    ViewBag.Title = "AddStaff";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}


<script src="~/jquery/Staff.js"></script>
<script src="~/asset/Common.js"></script>



<br />
<div class="row clearfix">
    <div class="col-md-12" style="">
        <div class="card">
            <div class="header">
                <h5>AddStaff</h5>
            </div>
            <div class="body">
                <form id="basic-form" method="post" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="Name" id="S_Name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>CNIC</label>
                                <input type="text" name="CNIC" id="S_CNIC" class="form-control"  required>
                               
                                
                            </div>
                            <div class="form-group">
                                <label>DOB</label>
                                <input type="date" name="DOB" id="S_DOB" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Cell Number</label>
                                <input type="text" name="Cell_Number" id="S_Cellnumb" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Salary</label>
                                <input type="text" id="S_Salary" value="0" class="form-control" onkeyup="this.value = this.value.replace(/[^\d]/, '');" />
                            </div>


                            <div class="form-group">
                                <label>Gender</label>
                                <br />
                                <label class="fancy-radio">
                                    <input type="radio" name="Gender" id="gender" checked value="male" required data-parsley-errors-container="#error-radio">
                                    <span><i></i>Male</span>
                                </label>
                                <label class="fancy-radio">
                                    <input type="radio" name="Gender" id="gender" value="female">
                                    <span><i></i>Female</span>
                                </label>
                                <p id="error-radio"></p>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label>Designation :</label>
                                <select id="S_Designation" class="form-control" required>
                                    <option value="">Select...........</option>
                                    @foreach (var item in ViewBag.Des)
                                    {
                                        <option value="@item.Des_Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Qualification</label>
                                <select id="S_Qualification" class="form-control" required>
                                    <option value="">Select...........</option>
                                    @foreach (var item in ViewBag.Qualif)
                                    {
                                        <option value="@item.Qualification_Id">@item.Qualification1</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Detail</label>
                                <input type="text" name="password" id="S_Detail" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control" cols="3" rows="3" id="S_Address" name="Address" required></textarea>
                            </div>
                            <br>

                        </div>
                    </div>

                    <button type="button" class="btn  btn-primary btn-block col-md-6" onclick="AddStaff()">Save</button>
                </form>
            </div>
        </div>
    </div>

</div>


